stages:
- analysis
- test


cppcheck:
  image: ubuntu:bionic
  stage: analysis
  before_script:
    - apt update
    - apt install -y --no-install-recommends cppcheck=1.82-1 python3-pygments python-pygments
    - cppcheck --version
  script:
    - mkdir cppcheck
    #- cppcheck . -I include/ --verbose --enable=all --inconclusive --language=c++ --error-exitcode=1
    - cppcheck . -I include/ --enable=all --inconclusive --xml-version=2 --force --library=windows,posix,gnu . 2> cppcheck/result.xml
    - cppcheck-htmlreport --source-encoding="iso8859-1" --title="my project name" --source-dir . --report-dir=cppcheck --file=cppcheck/result.xml
  artifacts:
    paths:
      - cppcheck/
    expire_in: 1 week

.build-gcc:
    image: lasote/conangcc7
    stage: test
    before_script:
      - sudo apt update
      - sudo apt install gcovr curl
      - conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan
    script:
      - mkdir -p build && cd build
      #- conan install --build missing ..
      - if [ -f ../conanfile.txt ]; then conan install --build missing ..; fi
      - cmake -D CPPBOILERPLATE_ENABLE_COVERAGE:BOOL=TRUE -D CPPBOILERPLATE_BUILD_TESTS:BOOL=TRUE ..
      - cmake --build .
      - ctest
      - mkdir coverage
      - mkdir coverage/html
      #- gcovr . -r .. --html-details --html -o coverage/index.html -e ../test/third_party
      - gcovr . -r .. --html-details --html -o coverage/html/index.html --exclude=../test/third_party/.* --exclude=../src/bin/.*
      - gcovr . -r .. --xml -o coverage/report.xml --exclude=../test/third_party/.* --exclude=../src/bin.*
      - gcovr . -r .. --exclude=../test/third_party/.* --exclude=../src/bin/.* > coverage/report.txt
      - bash ../.ci-scripts/generate_gcov_badge.sh > coverage/badge.svg
    artifacts:
      paths:
        - build/coverage/
      expire_in: 1 week


build-gcc5:
    extends: .build-gcc
    image: lasote/conangcc5

build-gcc6:
    extends: .build-gcc
    image: lasote/conangcc6

build-gcc7:
    extends: .build-gcc
    image: lasote/conangcc7



.build-clang:
    image: lasote/conanclang60
    stage: test
    before_script:
      - sudo apt update
      #- sudo apt install -y --no-install-recommends gcovr
      - conan remote add bincrafters https://api.bintray.com/conan/bincrafters/public-conan
    script:
      - mkdir -p build && cd build
      #- conan install --build missing ..
      - if [ -f ../conanfile.txt ]; then conan install --build missing ..; fi
      - cmake -D CPPBOILERPLATE_ENABLE_COVERAGE:BOOL=TRUE -D CPPBOILERPLATE_BUILD_TESTS:BOOL=TRUE ..
      - cmake --build .
      - ctest

build-clang38:
    extends: .build-clang
    image: lasote/conanclang38

build-clang39:
    extends: .build-clang
    image: lasote/conanclang39

build-clang40:
    extends: .build-clang
    image: lasote/conanclang40

build-clang50:
    extends: .build-clang
    image: lasote/conanclang50

build-clang60:
    extends: .build-clang
    image: lasote/conanclang60

